In [3]:
import pandas as pd
import numpy as np

In [67]:
MY_GCUBE_TOKEN = '6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462'

In [4]:
df = pd.read_json("./ecir15.wiki-year-facts.json")

In [5]:
df.head()

                                                data
0  {'fact': 'Roman Empire. <a href="https://en.wi...
1  {'fact': 'Roman Empire. End of the war with <a...
2  {'fact': 'Asia. <a href="https://en.wikipedia....
3  {'fact': 'Religion. <a href="https://en.wikipe...
4  {'fact': 'Byzantine Empire. Emperor <a href="h...

In [6]:
df.shape

(40356, 1)

In [7]:
df.values.flatten()

array([{'fact': 'Roman Empire. <a href="https://en.wikipedia.org/wiki/Dacia">Dacia</a> is invaded by barbarians.', 'year': '166'},
       {'fact': 'Roman Empire. End of the war with <a href="https://en.wikipedia.org/wiki/Parthia">Parthia</a>:  The Parthians leave <a href="https://en.wikipedia.org/wiki/Armenia">Armenia</a> and eastern <a href="https://en.wikipedia.org/wiki/Mesopotamia">Mesopotamia</a>, which both become Roman <a href="https://en.wikipedia.org/wiki/protectorate">protectorate</a>s.', 'year': '166'},
       {'fact': 'Asia. <a href="https://en.wikipedia.org/wiki/King_Chogo_of_Baekje">King Chogo of Baekje</a> succeeds to the throne of <a href="https://en.wikipedia.org/wiki/Baekje">Baekje</a> in the <a href="https://en.wikipedia.org/wiki/Korean_peninsula">Korean peninsula</a>.', 'year': '166'},
       ...,
       {'fact': 'December - Financed by <a href="https://en.wikipedia.org/wiki/Charles_V_of_France">Charles V of France</a>, Welshman <a href="https://en.wikipedia.org/wiki/Owain_Lawgoch">Owain Lawgoch</a> launches an invasion fleet against the English in an attempt to claim the throne of <a href="https://en.wikipedia.org/wiki/Wales">Wales</a>. A storm causes Owain to abandon the invasion.', 'year': '1369'},
       {'fact': '<a href="https://en.wikipedia.org/wiki/Tamerlane">Tamerlane</a> names the city of <a href="https://en.wikipedia.org/wiki/Samarkand">Samarkand</a> as the capital of his empire.', 'year': '1369'},
       {'fact': 'The <a href="https://en.wikipedia.org/wiki/Thailand">Thai</a> Kingdom of <a href="https://en.wikipedia.org/wiki/Ayutthaya_Kingdom">Ayutthaya</a> conquers <a href="https://en.wikipedia.org/wiki/Cambodia">Cambodia</a> for a second time.', 'year': '1369'}],
      dtype=object)

In [8]:
df = df.values.flatten()

In [9]:
df

array([{'fact': 'Roman Empire. <a href="https://en.wikipedia.org/wiki/Dacia">Dacia</a> is invaded by barbarians.', 'year': '166'},
       {'fact': 'Roman Empire. End of the war with <a href="https://en.wikipedia.org/wiki/Parthia">Parthia</a>:  The Parthians leave <a href="https://en.wikipedia.org/wiki/Armenia">Armenia</a> and eastern <a href="https://en.wikipedia.org/wiki/Mesopotamia">Mesopotamia</a>, which both become Roman <a href="https://en.wikipedia.org/wiki/protectorate">protectorate</a>s.', 'year': '166'},
       {'fact': 'Asia. <a href="https://en.wikipedia.org/wiki/King_Chogo_of_Baekje">King Chogo of Baekje</a> succeeds to the throne of <a href="https://en.wikipedia.org/wiki/Baekje">Baekje</a> in the <a href="https://en.wikipedia.org/wiki/Korean_peninsula">Korean peninsula</a>.', 'year': '166'},
       ...,
       {'fact': 'December - Financed by <a href="https://en.wikipedia.org/wiki/Charles_V_of_France">Charles V of France</a>, Welshman <a href="https://en.wikipedia.org/wiki/Owain_Lawgoch">Owain Lawgoch</a> launches an invasion fleet against the English in an attempt to claim the throne of <a href="https://en.wikipedia.org/wiki/Wales">Wales</a>. A storm causes Owain to abandon the invasion.', 'year': '1369'},
       {'fact': '<a href="https://en.wikipedia.org/wiki/Tamerlane">Tamerlane</a> names the city of <a href="https://en.wikipedia.org/wiki/Samarkand">Samarkand</a> as the capital of his empire.', 'year': '1369'},
       {'fact': 'The <a href="https://en.wikipedia.org/wiki/Thailand">Thai</a> Kingdom of <a href="https://en.wikipedia.org/wiki/Ayutthaya_Kingdom">Ayutthaya</a> conquers <a href="https://en.wikipedia.org/wiki/Cambodia">Cambodia</a> for a second time.', 'year': '1369'}],
      dtype=object)

In [10]:
type(df)

numpy.ndarray

In [11]:
df = df.tolist()

In [12]:
df = pd.DataFrame(df)

In [13]:
df.head()

                                                fact year
0  Roman Empire. <a href="https://en.wikipedia.or...  166
1  Roman Empire. End of the war with <a href="htt...  166
2  Asia. <a href="https://en.wikipedia.org/wiki/K...  166
3  Religion. <a href="https://en.wikipedia.org/wi...  166
4  Byzantine Empire. Emperor <a href="https://en....  592

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40356 entries, 0 to 40355
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fact    40356 non-null  object
 1   year    40356 non-null  object
dtypes: object(2)
memory usage: 630.7+ KB

In [15]:
df.drop(columns=["year"], inplace=True)

In [16]:
df.head()

                                                fact
0  Roman Empire. <a href="https://en.wikipedia.or...
1  Roman Empire. End of the war with <a href="htt...
2  Asia. <a href="https://en.wikipedia.org/wiki/K...
3  Religion. <a href="https://en.wikipedia.org/wi...
4  Byzantine Empire. Emperor <a href="https://en....

In [17]:
text = df.iloc[0, 0]

In [18]:
print(text)

Roman Empire. <a href="https://en.wikipedia.org/wiki/Dacia">Dacia</a> is invaded by barbarians.

In [19]:
from bs4 import BeautifulSoup

In [28]:
soup = BeautifulSoup(text, "html.parser")

In [21]:
tag = soup.findAll()[0]

In [22]:
tag

In [23]:
text

'Roman Empire. <a href="https://en.wikipedia.org/wiki/Dacia">Dacia</a> is invaded by barbarians.'

In [24]:
text.replace(str(tag), tag.string)

'Roman Empire. Dacia is invaded by barbarians.'

In [26]:
text = df.iloc[1, 0]

In [27]:
text

'Roman Empire. End of the war with <a href="https://en.wikipedia.org/wiki/Parthia">Parthia</a>:  The Parthians leave <a href="https://en.wikipedia.org/wiki/Armenia">Armenia</a> and eastern <a href="https://en.wikipedia.org/wiki/Mesopotamia">Mesopotamia</a>, which both become Roman <a href="https://en.wikipedia.org/wiki/protectorate">protectorate</a>s.'

In [29]:
tmp = text
for tag in soup.findAll():
    tmp = tmp.replace(str(tag), tag.string)

In [30]:
tmp

'Roman Empire. End of the war with Parthia:  The Parthians leave Armenia and eastern Mesopotamia, which both become Roman protectorates.'

In [44]:
def extract_text(text):
    soup = BeautifulSoup(text, "html.parser")
    tmp = text
    for tag in soup.findAll():
        if tag.name == "a":
            if tag.string:
                tmp = tmp.replace(str(tag), tag.string)
        else:
            tmp = tmp.replace(str(tag), "")
    return tmp

In [45]:
df["text"] = df["fact"].apply(extract_text)

/var/folders/z9/204byscd3zd4t17t3b7r171m0000gn/T/ipykernel_8025/139763669.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(text, "html.parser")

In [46]:
df.head()

,fact,text
0,"Roman Empire. <a href=""https://en.wikipedia.or...",Roman Empire. Dacia is invaded by barbarians.
1,"Roman Empire. End of the war with <a href=""htt...",Roman Empire. End of the war with Parthia: Th...
2,"Asia. <a href=""https://en.wikipedia.org/wiki/K...",Asia. King Chogo of Baekje succeeds to the thr...
3,"Religion. <a href=""https://en.wikipedia.org/wi...",Religion. Pope Soter succeeds Pope Anicetus as...
4,"Byzantine Empire. Emperor <a href=""https://en....",Byzantine Empire. Emperor Maurice regains the ...

In [47]:
df.tail()

,fact,text
40351,"<a href=""https://en.wikipedia.org/wiki/Moscow""...","Moscow attacks Tver, which counter-attacks wit..."
40352,"The <a href=""https://en.wikipedia.org/wiki/Bib...",The Bibliothèque nationale de France (National...
40353,"December - Financed by <a href=""https://en.wik...","December - Financed by Charles V of France, We..."
40354,"<a href=""https://en.wikipedia.org/wiki/Tamerla...",Tamerlane names the city of Samarkand as the c...
40355,"The <a href=""https://en.wikipedia.org/wiki/Tha...",The Thai Kingdom of Ayutthaya conquers Cambodi...

In [56]:
from urllib.parse import urlparse

In [57]:
def extract_entity(text):
    soup = BeautifulSoup(text, "html.parser")
    ret = []
    for tag in soup.findAll():
        if tag.name == "a":
            tmp = tag.get("href")
            if tmp:
                tmp = urlparse(tmp)
                tmp = tmp.path.split('/')[-1]
                ret.append(tmp)
    return ret

In [58]:
extract_entity(df.iloc[69, 0])

['Achilleus_(emperor)',
 'Alexandria',
 'Egypt_(Roman_province)',
 'rebellion',
 'Diocletian']

In [60]:
df["entity"] = df["fact"].apply(extract_entity)

/var/folders/z9/204byscd3zd4t17t3b7r171m0000gn/T/ipykernel_8025/2195321229.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(text, "html.parser")

In [61]:
df.head()

,fact,text,entity
0,"Roman Empire. <a href=""https://en.wikipedia.or...",Roman Empire. Dacia is invaded by barbarians.,[Dacia]
1,"Roman Empire. End of the war with <a href=""htt...",Roman Empire. End of the war with Parthia: Th...,"[Parthia, Armenia, Mesopotamia, protectorate]"
2,"Asia. <a href=""https://en.wikipedia.org/wiki/K...",Asia. King Chogo of Baekje succeeds to the thr...,"[King_Chogo_of_Baekje, Baekje, Korean_peninsula]"
3,"Religion. <a href=""https://en.wikipedia.org/wi...",Religion. Pope Soter succeeds Pope Anicetus as...,"[Pope_Soter, Pope_Anicetus, pope]"
4,"Byzantine Empire. Emperor <a href=""https://en....",Byzantine Empire. Emperor Maurice regains the ...,"[Maurice_(emperor), Byzantine_Empire, Singidun..."

In [62]:
df.tail()

,fact,text,entity
40351,"<a href=""https://en.wikipedia.org/wiki/Moscow""...","Moscow attacks Tver, which counter-attacks wit...","[Moscow, Tver, Lithuania, Blue_Horde]"
40352,"The <a href=""https://en.wikipedia.org/wiki/Bib...",The Bibliothèque nationale de France (National...,"[Bibliothèque_nationale_de_France, Louvre_Pala..."
40353,"December - Financed by <a href=""https://en.wik...","December - Financed by Charles V of France, We...","[Charles_V_of_France, Owain_Lawgoch, Wales]"
40354,"<a href=""https://en.wikipedia.org/wiki/Tamerla...",Tamerlane names the city of Samarkand as the c...,"[Tamerlane, Samarkand]"
40355,"The <a href=""https://en.wikipedia.org/wiki/Tha...",The Thai Kingdom of Ayutthaya conquers Cambodi...,"[Thailand, Ayutthaya_Kingdom, Cambodia]"

In [63]:
df.to_csv("text_and_entities.csv", index=False)

In [69]:
import json
import requests

In [70]:
def wat_entity_relatedness(ids: list):
    # Main method, text annotation with WAT entity linking system
    wat_url = 'https://wat.d4science.org/wat/relatedness/graph'
    payload = [("gcube-token", MY_GCUBE_TOKEN)]
    for id in ids:
        payload.append(('ids', id))
    response = requests.get(wat_url, params=payload)
    return response.json()

In [71]:
wat_entity_relatedness([534366, 20082093])

{'relation': 'lm',
 'pairs': [{'src_title': {'wiki_title': 'Barack_Obama',
    'wiki_id': 534366,
    'ns': 0,
    'type': 0},
   'dst_title': {'wiki_title': 'Presidency_of_Barack_Obama',
    'wiki_id': 20082093,
    'ns': 0,
    'type': 0},
   'relatedness': 7.888609052210118e-31}]}

In [113]:
def wat_wiki_id(wiki_title: str):
    """Give Wikipedia title returns its wiki_id"""
    wat_url = 'https://wat.d4science.org/wat/title'
    payload = [("gcube-token", MY_GCUBE_TOKEN), 
               ("title", wiki_title)]
    response = requests.get(wat_url, params=payload)
    return response.json()["wiki_id"]

In [76]:
for wiki_title in df.iloc[69, -1]:
    print(wat_wiki_id(wiki_title))

{'wiki_title': 'Achilleus_(emperor)', 'wiki_id': 42658028, 'ns': 0, 'type': 1, 'redirect_id': 13526151}
{'wiki_title': 'Alexandria', 'wiki_id': 3080, 'ns': 0, 'type': 0}
{'wiki_title': 'Egypt_(Roman_province)', 'wiki_id': 496519, 'ns': 0, 'type': 0}
{'wiki_title': 'rebellion', 'wiki_id': -1, 'ns': 0, 'type': 0}
{'wiki_title': 'Diocletian', 'wiki_id': 8580, 'ns': 0, 'type': 0}

In [79]:
for i in df.iloc[69]:
    print(i)

Roman Empire. <a href="https://en.wikipedia.org/wiki/Achilleus_(emperor)">Achilleus</a>, Roman general, is proclaimed emperor in <a href="https://en.wikipedia.org/wiki/Alexandria">Alexandria</a>. For two years he rules over <a href="https://en.wikipedia.org/wiki/Egypt_(Roman_province)">Egypt</a>, but in the end the <a href="https://en.wikipedia.org/wiki/rebellion">rebellion</a> is crushed by Emperor <a href="https://en.wikipedia.org/wiki/Diocletian">Diocletian</a>.
Roman Empire. Achilleus, Roman general, is proclaimed emperor in Alexandria. For two years he rules over Egypt, but in the end the rebellion is crushed by Emperor Diocletian.
['Achilleus_(emperor)', 'Alexandria', 'Egypt_(Roman_province)', 'rebellion', 'Diocletian']

In [80]:
class WATAnnotation:
    # An entity annotated by WAT

    def __init__(self, d):

        # char offset (included)
        self.start = d['start']
        # char offset (not included)
        self.end = d['end']

        # annotation accuracy
        self.rho = d['rho']
        # spot-entity probability
        self.prior_prob = d['explanation']['prior_explanation']['entity_mention_probability']

        # annotated text
        self.spot = d['spot']

        # Wikpedia entity info
        self.wiki_id = d['id']
        self.wiki_title = d['title']


    def json_dict(self):
        # Simple dictionary representation
        return {'wiki_title': self.wiki_title,
                'wiki_id': self.wiki_id,
                'start': self.start,
                'end': self.end,
                'rho': self.rho,
                'prior_prob': self.prior_prob
                }

In [88]:
def wat_entity_linking(text):
    # Main method, text annotation with WAT entity linking system
    wat_url = 'https://wat.d4science.org/wat/tag/tag'
    payload = [("gcube-token", MY_GCUBE_TOKEN),
               ("text", text),
               ("lang", 'en'),
               ("tokenizer", "nlp4j"),
               ('debug', 9),
               ("method",
                "spotter:includeUserHint=true:includeNamedEntity=true:includeNounPhrase=true,prior:k=50,filter-valid,centroid:rescore=true,topk:k=5,voting:relatedness=lm,ranker:model=0046.model,confidence:model=pruner-wiki.linear")]

    response = requests.get(wat_url, params=payload)
    return response.json()["annotations"]

In [92]:
def wat_query_to_id(query: str):
    response = wat_entity_linking(query)
    ret = []
    for res in response:
        ret.append(res["id"])
    return ret

In [93]:
wat_query_to_id("Canute the Great codifies the laws of England")

[40501, 1356238, 9316]

In [94]:
import pickle

In [96]:
with open("tfidf_vectorizer.pkl", "rb") as f:
    vectorizer = pickle.load(f)

In [97]:
type(vectorizer)

sklearn.feature_extraction.text.TfidfVectorizer

In [103]:
with open("./tdidf_wm", "rb") as f:
    tfidf_wm = pickle.load(f)

In [104]:
from sklearn.metrics.pairwise import cosine_similarity

In [119]:
def get_doc_ind(query):
    query_tfidf = vectorizer.transform([query])
    similarity_arr = cosine_similarity(query_tfidf, tfidf_wm).flatten()
    best_doc_index_arr = np.argpartition(similarity_arr, -5)[-5:]
    return best_doc_index_arr

In [120]:
def get_doc_entities(query):
    doc_ind = get_doc_ind(query)
    ret = []
    for i in doc_ind:
        ret.extend(df["entity"][i])
    return ret

In [121]:
get_doc_entities("Antarctic treaty")

['Soviet_Antarctic_Expedition',
 'Pole_of_Inaccessibility',
 'Antarctic_Treaty',
 'London',
 'Antarctic',
 'Southern_Cross_Expedition',
 'Antarctic_Circle',
 'Commonwealth_Trans-Antarctic_Expedition',
 'Vivian_Fuchs',
 'Antarctic',
 'snowcat',
 'South_Pole']

In [133]:
def er(query):
    doc_ent = get_doc_entities(query)
    doc_wiki_id = []
    for ent in doc_ent:
        doc_wiki_id.append(wat_wiki_id(ent))
    query_wiki_id = wat_query_to_id(query)
    ret = {}
    for ind, ent_id in enumerate(doc_wiki_id):
        relatedness = wat_entity_relatedness(query_wiki_id, ent_id)
        relatedness = np.average(list(relatedness.values()))
        ret[doc_ent[ind]] = relatedness
    return ret

In [134]:
er("Antarctic treaty")

https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=4368628&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=4522348&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=167992&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=17867&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=2926&ids=2926

/Users/deebakkarthi/.local/src/ir/er/.venv/lib/python3.11/site-packages/numpy/lib/function_base.py:520: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis, **keepdims_kw)
/Users/deebakkarthi/.local/src/ir/er/.venv/lib/python3.11/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=18798090&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=40036138&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=1126339&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=315860&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=2926&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=-1&ids=2926
https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=20611127&ids=2926

{'Soviet_Antarctic_Expedition': 0.682246208190918,
 'Pole_of_Inaccessibility': 0.0,
 'Antarctic_Treaty': 0.0,
 'London': 0.0,
 'Antarctic': nan,
 'Southern_Cross_Expedition': 0.607271134853363,
 'Antarctic_Circle': 0.7913094162940979,
 'Commonwealth_Trans-Antarctic_Expedition': 0.5789082646369934,
 'Vivian_Fuchs': 0.590214192867279,
 'snowcat': 0.0,
 'South_Pole': 0.600740909576416}

In [135]:
def wat_entity_relatedness(query: list, ent: int):
    # Main method, text annotation with WAT entity linking system
    wat_url = 'https://wat.d4science.org/wat/relatedness/graph'
    payload = [("gcube-token", MY_GCUBE_TOKEN),
               ("relatedness", "barabasialbert"),
               ("ids", ent)]
    for id in query:
        payload.append(('ids', id))
    response = requests.get(wat_url, params=payload)
    response = response.json()
    ret = {}
    for pair in response["pairs"]:
        if pair["src_title"]["wiki_id"] == ent:
            dst_id = pair["dst_title"]["wiki_id"]
        elif pair["dst_title"]["wiki_id"] == ent:
            dst_id = pair["src_title"]["wiki_id"]
        else:
            continue
        ret[str(dst_id)] = pair["relatedness"]
    return ret

In [132]:
wat_entity_relatedness([2926, 7033645, 1291], 18798090)

https://wat.d4science.org/wat/relatedness/graph?gcube-token=6c3fba9c-36a5-4a20-90d7-ea284f06fe01-843339462&relatedness=barabasialbert&ids=18798090&ids=2926&ids=7033645&ids=1291

{'1291': 0.0, '2926': 0.607271134853363, '7033645': 0.0}