In [1]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_json("./ecir15.wiki-year-facts.json")

In [24]:
df.shape

(40356, 1)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40356 entries, 0 to 40355
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    40356 non-null  object
dtypes: object(1)
memory usage: 315.4+ KB

In [26]:
df.head()

                                                data
0  {'fact': 'Roman Empire. <a href="https://en.wi...
1  {'fact': 'Roman Empire. End of the war with <a...
2  {'fact': 'Asia. <a href="https://en.wikipedia....
3  {'fact': 'Religion. <a href="https://en.wikipe...
4  {'fact': 'Byzantine Empire. Emperor <a href="h...

In [40]:
df = df.values.flatten()

In [41]:
df

array([{'fact': 'Roman Empire. <a href="https://en.wikipedia.org/wiki/Dacia">Dacia</a> is invaded by barbarians.', 'year': '166'},
       {'fact': 'Roman Empire. End of the war with <a href="https://en.wikipedia.org/wiki/Parthia">Parthia</a>:  The Parthians leave <a href="https://en.wikipedia.org/wiki/Armenia">Armenia</a> and eastern <a href="https://en.wikipedia.org/wiki/Mesopotamia">Mesopotamia</a>, which both become Roman <a href="https://en.wikipedia.org/wiki/protectorate">protectorate</a>s.', 'year': '166'},
       {'fact': 'Asia. <a href="https://en.wikipedia.org/wiki/King_Chogo_of_Baekje">King Chogo of Baekje</a> succeeds to the throne of <a href="https://en.wikipedia.org/wiki/Baekje">Baekje</a> in the <a href="https://en.wikipedia.org/wiki/Korean_peninsula">Korean peninsula</a>.', 'year': '166'},
       ...,
       {'fact': 'December - Financed by <a href="https://en.wikipedia.org/wiki/Charles_V_of_France">Charles V of France</a>, Welshman <a href="https://en.wikipedia.org/wiki/Owain_Lawgoch">Owain Lawgoch</a> launches an invasion fleet against the English in an attempt to claim the throne of <a href="https://en.wikipedia.org/wiki/Wales">Wales</a>. A storm causes Owain to abandon the invasion.', 'year': '1369'},
       {'fact': '<a href="https://en.wikipedia.org/wiki/Tamerlane">Tamerlane</a> names the city of <a href="https://en.wikipedia.org/wiki/Samarkand">Samarkand</a> as the capital of his empire.', 'year': '1369'},
       {'fact': 'The <a href="https://en.wikipedia.org/wiki/Thailand">Thai</a> Kingdom of <a href="https://en.wikipedia.org/wiki/Ayutthaya_Kingdom">Ayutthaya</a> conquers <a href="https://en.wikipedia.org/wiki/Cambodia">Cambodia</a> for a second time.', 'year': '1369'}],
      dtype=object)

In [42]:
len(df)

40356

In [43]:
type(df)

numpy.ndarray

In [45]:
df = pd.DataFrame(df.tolist())

In [46]:
df.head()

                                                fact year
0  Roman Empire. <a href="https://en.wikipedia.or...  166
1  Roman Empire. End of the war with <a href="htt...  166
2  Asia. <a href="https://en.wikipedia.org/wiki/K...  166
3  Religion. <a href="https://en.wikipedia.org/wi...  166
4  Byzantine Empire. Emperor <a href="https://en....  592

In [47]:
df.to_csv("dataset.csv")

In [49]:
df.head()

                                                fact year
0  Roman Empire. <a href="https://en.wikipedia.or...  166
1  Roman Empire. End of the war with <a href="htt...  166
2  Asia. <a href="https://en.wikipedia.org/wiki/K...  166
3  Religion. <a href="https://en.wikipedia.org/wi...  166
4  Byzantine Empire. Emperor <a href="https://en....  592

In [51]:
df.drop(columns=["year"], inplace=True)

In [52]:
df.head()

                                                fact
0  Roman Empire. <a href="https://en.wikipedia.or...
1  Roman Empire. End of the war with <a href="htt...
2  Asia. <a href="https://en.wikipedia.org/wiki/K...
3  Religion. <a href="https://en.wikipedia.org/wi...
4  Byzantine Empire. Emperor <a href="https://en....